@font-face {
    font-family: Raleway;
    src: url("/Fonts/static/Raleway-Light.ttf");
}

:root {
    --a: #11252C;;
    --b: #2B3238;
    --c: #042ad6;
    --d:#181818;
    --s: #2e302f;
    --f: #181818;
    --base-color: #0f0f0f;  
    --h:#181818;
    --text-color: #ffffff;
    --i: #081c15;
}

html, body {
    height: fit-content;
    margin: 0;

    
}
html{
    width: 100%;
}


main {
   margin: 0;
}



a{
    text-decoration:underline;
    color:var(--text-color);
}
a:active{
    color:var(--text-color);
}
a:link{
    color:var(--text-color);
}
a:visited{
    color: var(--text-color);
}
a:hover{
    color: var(--text-color);
}

/*header*/
.navbar-toggler {
    border-color: white; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/*header*/


#footer-content{
    padding: 1rem 5rem;
    background-color: var(--a);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-emailbox{
    display: flex;
    align-items: center;
}

.footer-emailmezo {
    min-height: 35px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.footer-emailgomb {
    min-height: 10px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--s);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
  
.footer-emailgomb:hover {
    background-color: var(--d);
}
  
.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}
/*ikonok*/
#footer-icons{
    /*padding: 0 0 0 3.5rem;*/
    background-color: var(--a);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-icons{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0;
}

.social-icons li{
    padding: 1.5rem 1rem 0 1rem;
    list-style-type: none;
}

.social-icons li:first-child{
    padding-right: 1rem;
}

.social-icons a{
    color: white;
}

.social-icons svg:hover{
    color: var(--text-color);
}
/*ikonok*/
/*footer*/

.fooldal_hatter{
    background-image: url(/changename/Boriszmappa/img/hatter2.jpg);
    width: 100%;
    height: 30rem;
    text-align:left;
    padding: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    
}

/*Latnivalók*/
#Ismerteto_kep{ 
    display: block;
   align-items: center;
    width: fit-content;
    padding: 20px;
   
}
#Ismerteto{
    display: flex;
    padding: 50px;
    justify-content: space-between; 
    height: 100%;
    
    
}
@media (max-width:917px) {
    #Ismerteto{
      flex-direction: column;
        padding: 50px;

    }
    #Ismerteto_kep{
        
        margin: auto;
        width: 100%;
    }
    #Ismerteto_szoveg{
        margin: auto;
        width: 100%;
    }


}
@media (max-width:517px) {
    #kep_felso{
        width: 100%;
    }
    #Ismerteto_kep{
        
        margin: 0;
        
    }
}


.latnivalok{
    font-family: Raleway;
    background-color: #11252C;
    display: flex;
    color: white;
    margin-bottom: 10%;
    height: 50%;
    padding: 10px;
}
.first_text{
    width: 50%;
}



#felfedezes_kepek{
    padding: 10%;

}
/*Latnivalók*/




/*Felfedezés*/


.felfedezesgomb{
    margin-top: 50px;
    justify-self: center;
    
    width: 250px;
    color: white;
    word-spacing: 70px;
    border: 0;
    background-color: #11252C;
    font-family: Raleway;
    margin-bottom: 50px;
    height: 40px;
}

.felfedezesgomb_div{
    display: flex;
    justify-content: center;
}



    @media (max-width:766px) {
        #Latvanyossagok{
          margin: 5%;
          width: 55%;
            

        }

    }
