@font-face {
    font-family: Raleway;
    src: url("/Fonts/static/Raleway-Light.ttf");
}
@font-face {
    font-family: Inspiration;
    src: url("/Fonts/Inspiration-Regular.ttf");
    font-weight: 500;
}

:root {
    --a: #11252C;;
    --b: #2B3238;
    --c: #042ad6;
    --d:#181818;
    --s: #2e302f;
    --f: #181818;
    --base-color: #0f0f0f;  
    --h:#181818;
    --text-color: #ffffff;
    --i: #081c15;
}

html, body {
    height: fit-content;
    margin: 0;
    

    
}



main {
   margin: 0;
}

#Baja_cim{
    font-family: Inspiration;
    width: 10%;
    left: 25%;
    font-size:60px;
    position: absolute;
    font-style: italic;
    
}

a{
    text-decoration:underline;
    color:var(--text-color);
}
a:active{
    color:var(--text-color);
}
a:link{
    color:var(--text-color);
}
a:visited{
    color: var(--text-color);
}
a:hover{
    color: var(--text-color);
}

/*header*/
.navbar-toggler {
    border-color: white; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/*header*/


#footer-content{
    padding: 1rem 5rem;
    background-color: var(--b);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-emailbox{
    display: flex;
    align-items: center;
}

.footer-emailmezo {
    min-height: 35px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.footer-emailgomb {
    min-height: 10px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--s);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
  
.footer-emailgomb:hover {
    background-color: var(--d);
}
  
.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}
/*ikonok*/
#footer-icons{
    /*padding: 0 0 0 3.5rem;*/
    background-color: var(--b);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-icons{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0;
}

.social-icons li{
    padding: 1.5rem 1rem 0 1rem;
    list-style-type: none;
}

.social-icons li:first-child{
    padding-right: 1rem;
}

.social-icons a{
    color: white;
}

.social-icons svg:hover{
    color: var(--text-color);
}
/*ikonok*/
/*footer*/

.fooldal_hatter{
    background-image: url(/changename/Boriszmappa/img/hatter2.jpg);
    width: 100%;
    height: 30rem;
    text-align:center;
    padding: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

/*Latnivalók*/
#Ismerteto_kep{ 
    display: block;
   align-items: center;
    width: fit-content;
    padding: 20px;
   
}
#Ismerteto{
    display: flex;
    padding: 50px;
    justify-content: space-between; 
    height: 100%;
    
    
}
@media (max-width:917px) {
    #Ismerteto{
      flex-direction: column;
        padding: 50px;

    }
    #Ismerteto_kep{
        
        margin: auto;
        width: 100%;
    }
    #Ismerteto_szoveg{
        margin: auto;
        width: 100%;
    }


}
@media (max-width:517px) {
    #kep_felso{
        width: 100%;
    }
    #Ismerteto_kep{
        
        margin: 0;
        
    }
}


.latnivalok{
    font-family: Raleway;
    background-color: #11252C;
    display: flex;
    color: white;
    margin-bottom: 10%;
    height: 50%;
    padding: 10px;
}
.first_text{
    width: 50%;
}



#felfedezes_kepek{
    padding: 10%;

}
/*Latnivalók*/




/*Felfedezés*/


.felfedezesgomb{
    margin-top: 50px;
    justify-self: center;
    border-radius: 10px;
    width: 250px;
    color: white;
    word-spacing: 70px;
    border: 0;
    background-color: #11252C;
    font-family: Raleway;
    margin-bottom: 50px;
    height: 40px;
    transition: 0.5s;
}
.felfedezesgomb:hover{
    opacity: 0.8;
    transition: 0.6s;
}

.felfedezesgomb_div{
    display: flex;
    justify-content: center;
}


#Terkep_link{
    display: block;
    width: fit-content;
}
#Terkep_link:hover{
    opacity: 0.8;
    transition: 0.7s;
}


/*Értékelés*/
    #ertekeles_content{
        padding: 2rem;
    }

    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
    }
   
    button.ertekeles-gomb {
        width: 12rem;
        height: auto;
    }
   
    button.ertekeles-gomb .kor {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: var(--b);
        border-radius: 1.625rem;
    }
   
    button.ertekeles-gomb .kor .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
   
    button.ertekeles-gomb .kor .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }
   
    button.ertekeles-gomb .kor .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }
   
    button.ertekeles-gomb .gomb-szoveg {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: var(--b);
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }
   
    button:hover .kor {
        width: 100%;
    }
   
    button:hover .kor .icon.arrow {
        background: #fff;
        transform: translate(1rem, 0);
    }
   
    button:hover .gomb-szoveg {
        color: #fff;
    }


    .ertekeles_card{
        background-color: var(--text-color);
        color: black;
        border-radius: 10px;
        padding: 20px;
        margin:0;
        max-width: 30rem; 
        margin: 0 auto;
    }

    .rating {
        display: inline-block;
        opacity: 1;
    }

    .rating input {
        display: none;
        opacity: 1;
    }

    .rating label {
        float: right;
        cursor: pointer;
        color: #ccc;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    }

    .rating label:before {
        content: '\2605';
        font-size: 30px;
        transition: color 0.3s;
    }

    .rating input:checked ~ label,
    .rating label:hover,
    .rating label:hover ~ label {
        color: #ffc300;
        transform: scale(1.2);
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
        animation: bounce 0.5s ease-in-out alternate;
    }

    @keyframes bounce {
        to {
        transform: scale(1.3);
        }
    }
/*Értékelés*/

@media (max-width:932px) {
    #Baja_cim{
        left: 2%;
        padding: 10px;
    }
}
@media (max-width:386px) {
    #Baja_cim{
        left: 0;
        font-size: 50px;
       
    }
}

@media (max-width:768px) {
        #Latvanyossagok{
          margin: 5%;
          width: 55%;
            

        }

        .ertekeles_card{
            background-color: var(--text-color);
            color: black;
            border-radius: 10px;
            padding: 20px;
            width: 20rem;
            margin: 0 auto;
        }

}
@media (max-width:576px) {
        #ertekeles_content{
            padding: 1rem 0rem 1rem 0rem;
        }
        .ertekeles_card{
            background-color: var(--text-color);
            color: black;
            border-radius: 10px;
            padding: 20px;
            width: 18rem;
            margin: 0 auto;
        }

}
@media (max-width:400px) {
    #ertekeles_content{
        padding: 1rem 0rem 1rem 0rem;
    }
    .ertekeles_card{
        background-color: var(--text-color);
        color: black;
        border-radius: 10px;
        padding: 20px;
        width: 16rem;
        margin: 0 auto;
    }

}

   