@font-face {
    font-family: Raleway;
    src: url(/Fonts/Raleway-VariableFont_wght.ttf);
}
:root {
    --a: #11252C;;
    --b: #2B3238;
    --c: #042ad6;
    --d:#181818;
    --s: #2e302f;
    --f: #181818;
    --base-color: #0f0f0f;  
    --h:#181818;
    --text-color: #ffffff;
    --i: #081c15;
}

html, body {
    height: 100%;
    margin: 0;
}

/*body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}*/

a{
    text-decoration:underline;
    color:var(--text-color);
}
a:active{
    color:var(--text-color);
}
a:link{
    color:var(--text-color);
}
a:visited{
    color: var(--text-color);
}
a:hover{
    color: var(--text-color);
}

/*header*/
.navbar-toggler {
    border-color: white; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/*header*/


/*footer*/
#footer-content{
    padding: 1rem 5rem;
    background-color: var(--a);
}

.footer-emailbox{
    display: flex;
    align-items: center;
}

.footer-emailmezo {
    min-height: 35px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.footer-emailgomb {
    min-height: 10px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--s);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
  
.footer-emailgomb:hover {
    background-color: var(--d);
}
  
.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}
/*ikonok*/
#footer-icons{
    /*padding: 0 0 0 3.5rem;*/
    background-color: var(--a);
}

.social-icons{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0;
}

.social-icons li{
    padding: 1.5rem 1rem 0 1rem;
    list-style-type: none;
}

.social-icons li:first-child{
    padding-right: 1rem;
}

.social-icons a{
    color: white;
}

.social-icons svg:hover{
    color: var(--text-color);
}
/*ikonok*/
/*footer*/

/*Adatvédelem*/

#adatvedelem_content{
    margin: 5rem;
    padding: 1rem;
    background-color: var(--a);
    width: 50rem;
    height: 50rem;
    border-radius: 15px;
    color: var(--text-color);
    text-align: center;
}  
  
/*Adatvédelem*/
/*media - xs(0-576) sm(576-768) md(768-992) lg(992-1200) xl(1200-1400)*/
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1300px) {


}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 850px) {
    
}
@media only screen and (max-width: 800px) {
    

}
@media only screen and (max-width: 768px) {
    #footer-content{
        padding: 0 2rem;
        background-color: var(--a);
    }

}
@media only screen and (max-width: 700px) {


}
@media only screen and (max-width: 575px) {


}          
@media only screen and (max-width: 550px) {

 
}
@media only screen and (max-width: 480px) {


}
@media only screen and (max-width: 450px) {
 

}
@media only screen and (max-width: 430px) {

}
@media only screen and (max-width: 392px) {

}

@media only screen and (max-width: 382px) {

}
@media only screen and (max-width: 350px) {
}