body{
    margin: 0;
    padding: 0;
    
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #2B3238;
    color: white;
    padding: 30px;
}
@font-face {
    font-family: Raleway;
    src: url("/Bajahonlap/Fonts/Raleway-VariableFont_wght.ttf");
}
#cim1{
    font-family:Raleway;
}
.terkep{
    height: 50px;
}